body {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

a:hover{
    color: white;
    background-color: green;
}

nav {
    background: #aaa9a9;
}

nav ul {
    text-align: center;
    margin: 0;
    padding: 10px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: green;
    border-radius: 5px;
}